@import url('https://fonts.googleapis.com/css2?family=Nunito:display=swap');
.header {
  width: 100%;
  height: auto;
  top: 0px;
  display: flex;
  padding: 10px 0;
  font-family: 'Nunito', sans-serif;
  font-size: 30px;
  color: #29ab87;
  font-weight: bolder;
  position: relative;
  align-items: center;
  letter-spacing: 2.5px;
  justify-content: center;
  justify-self: flex-start;
  box-shadow: 4px 4px 5px #29ab87;
  background: #2b2b2b;
  z-index: 1;
}

.header svg {
  position: absolute;
  right: 3%;
  justify-self: right;
}
